/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp D    &kp S    &kp A
                &kp NO   &kp W    &kp NO
            >;
        };
    };
};